{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feedback list</h1>

    <table>
        <thead>
            <tr>
                <th>Devicemark</th>
                <th>Content</th>
                <th>System</th>
                <th>Ip</th>
                <th>Created</th>
                <th>Enabled</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedback %}
            <tr>
                <td><a href="{{ path('feedback_show', { 'id': feedback.id }) }}">{{ feedback.deviceMark }}</a></td>
                <td>{{ feedback.content }}</td>
                <td>{{ feedback.system }}</td>
                <td>{{ feedback.ip }}</td>
                <td>{{ feedback.created }}</td>
                <td>{% if feedback.enabled %}Yes{% else %}No{% endif %}</td>
                <td>{{ feedback.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('feedback_show', { 'id': feedback.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('feedback_edit', { 'id': feedback.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('feedback_new') }}">Create a new feedback</a>
        </li>
    </ul>
{% endblock %}
